.covid-content {
    margin: '0 10%';
    border: 2px double #fff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.covid-desc {
    margin-bottom: 16px;
    text-align: center;
    padding: 0 10px
}

.covid-gov-link {
    padding-bottom: 10px;
}